* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: max-content;
  display: grid;
}

.pixelify-sans-text2 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.ll{
  display: flex;
  align-items: center;
  justify-content: center;
}
